name: Deploy GAS

on:
  push:
    branches:
      - main  # mainブランチにプッシュされた時に実行

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install clasp
        run: npm install -g @google/clasp

      - name: Create clasprc.json
        # GitHub Secretsから鍵を取り出してファイルに書き出す
        run: echo '${{ secrets.CLASSPRC_JSON }}' > ~/.clasprc.json

      - name: Deploy to GAS
        # プロジェクトをGASにプッシュ
        run: clasp push -f